.background {
  background-image: url(../image/Cloths-bc740630f228713e4bb0de8a7bffce22.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-size: 100% %; */
  background-position-y: -3rem;

  margin: 0 0 0;
  /* height: 850px; */
}
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body{
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  padding-top: 5%;
  padding-right: 2%;
}
.title {
  margin-top: 15%;
}
.subtitle {
  color: gray;
}
.title h1 {
  font-size: 45px;
}
#home {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-left: 5%;
}
#head {
  color: green;
}

#help {
  text-decoration: none;
  color: black;
  float: right;
  margin-top: 3px;
  margin-right: 5px;
  font-size: 16px;
}
#join {
  float: right;
  box-shadow: 3px 2px;
  border: 1px solid;
  font-size: 18px;
  margin-left: 10px;
}
#searchProduct {
  font-family: FontAwesome;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 25px;
  width: 35%;
  /* padding: 2px 23px 2px 30px; */
  outline: 0;
  margin-top: 2%;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 200px;
}
.promotion{
  border-spacing: 30px;
  width: 100%;
}

.promotion td {
  border: 4px solid black;
  width: 400px;
  height: 190px;
  color: white;
  text-align: left;
}
.description{
  padding-left: 10px;
}
td.col1 {
  background-color: palevioletred;
  /* position: relative;
  left: 90px; */
}
td.col2 {
  background-color: peru;
  /* position: relative;
  left: 135px; */
}
td.col3 {
  background-color: rosybrown;
  /* position: relative;
  left: 180px; */
}
.buttonPromot {
  position: relative;
  text-align: center;
  width: 100px;
  height: 30px;
  box-shadow: 4px 3px black;
  bottom: 20px;
  right: 90px;
}
#couponImg {
  /* margin-left: 270px;
  margin-bottom: 20px; */
  position: relative;
  left: 300px;
  bottom: 30px;
}
#deliverImg {
  width: 100px;
  position: relative;
  left: 285px;
  bottom: 30px;
}
#giftImg {
  width: 80px;
  position: relative;
  left: 310px;
  bottom: 30px;
}
.gift {
  position: relative;
  right: 75px;
  bottom: 10px;
}
/* img.promotion{
  position: relative;
  right: 50px;
} */
.description {
  color: white;
  position: relative;
  top: 35px;
  left: 10px;
}
.product {
  position: relative;
  top: 40px;
}
.productCate{
   /* width: 20%; */
}
.productCate ul {
  position: relative;
  bottom: 300px;
}
.productCate li {
  list-style: none;
  padding-bottom: 30px;
}
.productCate a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  /* padding-left: 40px; */
}
.proIcon {
  width: 15%;
  vertical-align: middle;
}
.right_path {
  background-color: rgba(220, 220, 220, 0.2);
  width: 80%;
}
.productFeature {
  border-spacing: 50px;
  ?background-color: white;
  width: 100%;
  /* background-size: 100% 100%; */
}
.proDesciption {
  background-color: white;
  border: black solid 4px;
  width: 250px;
  height: 370px;
  padding-left: 10px;
  padding-right: 15;
  padding-top: 0px;
  padding-bottom: 0px;
}
.proDesciption p {
  margin-top: 0px;
}
.proDesciption img {
  width: 50%;
  position: relative;
  left: 50px;
}
.proDesciption button {
  text-align: center;
  width: 70px;
  height: 30px;
  box-shadow: 4px 3px black;
  background-color: white;
  float: right;
  margin-right: 20px;
  /* position: relative;
  left: 200px;
  bottom: 20px; */
}
.oldprice,
.lastprice {
  position: relative;
  top: 45px;
}
.oldprice {
  text-decoration-line: line-through;
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.lastprice {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.discount {
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  margin-top: 0;
  width: 10%;
  height: 15px;
  float: right;
  font-weight: bold;
  margin-right: 20px;
}
.subsubtable{
  width: 40%;
}
#subtableImg{
  width: 20%;
}
.subsubtable img{
width: 30%;

}
