<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>this is sign in</p>
    <form action="http://localhost:3000/LogIn" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email"><br>
        <label for="pwd">Password</label>
        <input type="password" name="pwd"><br>
        <p id="err_message" style="color: red;"></p>
        <button id="log" type="button" >LogIn</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>